@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$footerHeight: 2.2rem;

html, body {
    background: black;
}

body{
    @apply w-screen min-h-screen overflow-y-scroll;
    @apply bg-gray-100 dark:bg-gray-700 dark:text-white;
}

* {
    font-family: "Noto Sans", sans-serif;
}

#nav{
    @apply z-10 w-full h-16 box-content fixed top-0;
}

#contents{
    @apply w-full h-max pt-16;
    padding-bottom: calc($footerHeight + env(safe-area-inset-bottom))
}

#footer {
    @apply z-10 w-full bottom-0 fixed;
    height: $footerHeight;
    padding-bottom: env(safe-area-inset-bottom);
}

.jp {
    font-family: "Noto Sans JP", sans-serif;
}

.kyoka {
    font-family: "UD Digi Kyokasho NK-R", "YuKyo-Medium", sans-serif;
}

.kanji:hover {
    .kyoka-on-hover {
        font-weight: normal;
        @apply pt-3 kyoka;
    }
}