@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    background: black;
}

* {
    font-family: "Noto Sans", sans-serif;
}

.jp {
    font-family: "Noto Sans JP", sans-serif;
}

.kyoka {
    font-family: "UD Digi Kyokasho NK-R", "YuKyo-Medium", sans-serif;
}


.kanji:hover {
    .kyoka-on-hover {
        font-weight: normal;
        @apply pt-3 kyoka;
    }
}